@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Roboto:300,400,500,700");

@font-face {
  font-family: 'BwNistaInt-xBd';
  src: url("../plugins/fonts/BwNistaInt-xBd.woff") format("woff");
  font-style: normal;
  font-display: swap;
}



*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


body {
  line-height: 1.2;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #1DCD9F;
}




p,
.paragraph {
  font-weight: 400;
  color: #4c4c4c;
  font-size: 15px;
  line-height: 1.8;
  font-family: "Roboto", sans-serif;
}

p-lg,
.paragraph-lg {
  font-size: 22px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
  font-family: "Playfair Display", serif;
  line-height: 1.2;
}

h1,
.h1 {
  font-size: 80px;
}

@media (max-width: 991px) {

  h1,
  .h1 {
    font-size: 65px;
  }
}

h2,
.h2 {
  font-size: 60px;
}

@media (max-width: 991px) {

  h2,
  .h2 {
    font-size: 50px;
  }
}

h3,
.h3 {
  font-size: 40px;
}

h4,
.h4 {
  font-size: 22px;
}

h5,
.h5 {
  font-size: 18px;
}

h6,
.h6 {
  font-size: 14px;
}

/* Button style */
.btn {
  font-size: 22px;
  font-family: "Playfair Display", serif;
  text-transform: capitalize;
  padding: 16px 44px;
  border-radius: 5px;
  font-weight: 600;
  border: 0;
  position: relative;
  z-index: 1;
  transition: .2s ease;
}

.btn:focus {
  outline: 0;
  box-shadow: none !important;
}

.btn:active {
  box-shadow: none;
}

.btn-sm {
  font-size: 15px;
  padding: 10px 30px;
}

.btn-xs {
  padding: 5px 10px;
  font-size: 15px;
}

.btn-primary {
  background: #00e6e6;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.btn-secondary {
  background: black;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.btn-primary:active {
  background: #542cb7 !important;
}

.btn-secondary:active {
  background: #00FE42 !important;
  color: #000;
}

.btn-primary:hover {
  background: black;
  color: white;
}

.btn-secondary:hover {
  background: #00e6e6;
  color: white;
}

.btn-primary.focus,
.btn-primary.active {
  background: black !important;
  box-shadow: none !important;
}

.btn-transparent {
  background: transparent;
  color: #41228e;
  font-weight: bold;
}

.btn-transparent:active,
.btn-transparent:hover {
  color: #41228e;
}

body {
  background-color: #fff;
  overflow-x: hidden;
}

::-moz-selection {
  background: #542cb7;
  color: #fff;
}

::selection {
  background: #542cb7;
  color: #fff;
}

/* preloader */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

ol,
ul {
  list-style-type: none;
  margin: 0px;
}

img {
  vertical-align: middle;
  border: 0;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a,
button,
select {
  cursor: pointer;
  transition: .2s ease;
}

a:focus,
button:focus,
select:focus {
  outline: 0;
}

a.text-dark:hover {
  color: #41228e !important;
}

a:hover {
  color: #41228e;
}

.slick-slide {
  outline: 0;
}

.section {
  padding-top: 80px;
  padding-bottom: 80px;
}

.section-title {
  margin-bottom: 80px;
  font-family: "BwNistaInt-xBd";
}

.bg-cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/* overlay */
.overlay {
  position: relative;
}

.overlay::before {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #000;
  opacity: .5;
}

.outline-0 {
  outline: 0 !important;
}

.d-unset {
  display: unset !important;
}

.bg-primary {
  background: #f8f9fa !important;
}

.bg-gray {
  background: #eaeaea !important;
}

.text-primary {
  color: #41228e !important;
}

.text-color {
  color: #4c4c4c;
}

.text-dark {
  color: #000 !important;
}

.text-light {
  color: #999999 !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.mb-60 {
  margin-bottom: 60px !important;
}

.mb-70 {
  margin-bottom: 70px !important;
}

.mb-80 {
  margin-bottom: 80px !important;
}

.mb-90 {
  margin-bottom: 90px !important;
}

.mb-100 {
  margin-bottom: 100px !important;
}

.zindex-1 {
  z-index: 1;
}

.rounded-lg {
  border-radius: 15px;
}

.overflow-hidden {
  overflow: hidden;
}

.font-secondary {
  font-family: "Playfair Display", serif !important;
}

.font-tertiary {
  font-family: "BwNistaInt-xBd" !important;
}

.shadow {
  box-shadow: 0px 18px 39.1px 6.9px rgba(224, 241, 255, 0.34) !important;
}

.bg-dark {
  background-color: black !important;
}

/* icon */
.icon {
  font-size: 45px;
}

.icon-bg {
  height: 100px;
  width: 100px;
  line-height: 100px;
  text-align: center;
}

.icon-light {
  color: #c8d5ef;
}

/* /icon */
/* slick slider */
.slick-dots {
  text-align: center;
  padding-left: 0;
}

.slick-dots li {
  display: inline-block;
  margin: 2px;
}

.slick-dots li.slick-active button {
  background: #fff;
  width: 25px;
}

.slick-dots li button {
  height: 6px;
  width: 12px;
  background: rgba(255, 255, 255, 0.5);
  color: transparent;
  border-radius: 10px;
  overflow: hidden;
  transition: .2s ease;
  border: 0;
}

/* /slick slider */
/* form */
.form-control {
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #c7c7c7;
  height: 60px;
}

.form-control:focus {
  border-color: #00FE42;
  outline: 0;
  box-shadow: none !important;
}

textarea.form-control {
  height: 120px;
}

/* /form */
/* card */
.card {
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.card-header {
  border: 0;
}

.card-footer {
  border: 0;
}

/* /card */
.navigation {
  padding: 10px 10px;
  transition: .2s ease;
  background-color: #000;
}

.navigation.nav-bg {
  background-color: black;
  padding: 5px 30px;
}

@media (max-width: 991px) {
  .navigation.nav-bg {
    padding: 0 20px;
    background-color: black;
  }
}

@media (max-width: 991px) {
  .navigation {
    padding: 10px;
    background-color: black;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    color: white;
  }



}

.navbar .nav-item .nav-link {
  font-family: "BwNistaInt-xBd";
  text-transform: uppercase;
  padding: 15px;
}

/* .navbar-brand {
  color:black;
} */
.navbar .nav-item.active {
  font-weight: bold;
  color: #41228e;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

@media (max-width: 991px) {
  .navbar-dark .navbar-nav .nav-link {
    color: white;
  }


}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #00e6e6;
}

.hero-area {
  padding: 200px 0 200px;
  position: relative;
}

@media (max-width: 767px) {
  .hero-area {
    padding: 200px 0 150px;
    overflow: hidden;


  }
}

.hero-area h2 {
  position: relative;
  z-index: 2;
  /* font-size: 80px; */

}




.layer {
  position: absolute;
  z-index: 1;
}

#l1 {
  bottom: 0;
  left: 0;
}

#l2 {
  top: 190px;
  left: -250px;
}

#l3 {
  top: 200px;
  left: 40%;
}

#l4 {
  top: 200px;
  right: 40%;
}

#l5 {
  top: 100px;
  right: -150px;
}

#l6 {
  bottom: -20px;
  left: 10%;
}

#l7 {
  bottom: 100px;
  left: 20%;
}

#l8 {
  bottom: 160px;
  right: 45%;
}

#l9 {
  bottom: 100px;
  right: -10px;
}

.layer-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  /* background-size: cover; */
  /* background-position: 100%; */
}

/* skills */
.progress-wrapper {
  height: 130px;
  overflow: hidden;
}

.wave {
  position: absolute;
  width: 100%;
  height: 100%;
}

.wave::before,
.wave::after {
  content: "";
  position: absolute;
  width: 800px;
  height: 800px;
  bottom: 0;
  left: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 45%;
  -webkit-transform: translateX(-50%) rotate(0);
  transform: translateX(-50%) rotate(0);
  -webkit-animation: rotate 6s linear infinite;
  animation: rotate 6s linear infinite;
  z-index: 10;
}

.wave::after {
  border-radius: 47%;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-transform: translateX(-50%) rotate(0);
  transform: translateX(-50%) rotate(0);
  -webkit-animation: rotate 10s linear -5s infinite;
  animation: rotate 10s linear -5s infinite;
  z-index: 20;
}

@-webkit-keyframes rotate {
  50% {
    -webkit-transform: translateX(-50%) rotate(180deg);
    transform: translateX(-50%) rotate(180deg);
  }

  100% {
    -webkit-transform: translateX(-50%) rotate(360deg);
    transform: translateX(-50%) rotate(360deg);
  }
}

@keyframes rotate {
  50% {
    -webkit-transform: translateX(-50%) rotate(180deg);
    transform: translateX(-50%) rotate(180deg);
  }

  100% {
    -webkit-transform: translateX(-50%) rotate(360deg);
    transform: translateX(-50%) rotate(360deg);
  }
}

/* /skills */
/* education */
.edu-bg-image {
  position: absolute;
  left: 0;
  top: -300px;
  z-index: -1;
}

/* /education */
/* service */
.hover-bg-primary {
  transition: .3s ease;
}

.hover-bg-primary:hover {
  background: #41228e;
}

.hover-bg-primary:hover * {
  color: #fff;
}

.active-bg-primary {
  transition: .3s ease;
  background: #41228e;
}

.active-bg-primary * {
  color: #fff;
}

.hover-shadow {
  transition: .3s ease;
}

.hover-shadow:hover {
  box-shadow: 0px 18px 40px 8px rgba(224, 241, 255, 0.54) !important;
}

/* /service */
/* portfolio */
.hover-wrapper {
  overflow: hidden;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

.hover-wrapper img {
  transition: .3s ease;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.hover-wrapper:hover img {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.hover-wrapper:hover .hover-overlay {
  opacity: 1;
  visibility: visible;
}

.hover-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transition: .3s ease;
}

.hover-content {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  right: 0;
  text-align: center;
}

/* /portfolio */
/* testimonial */
.testimonial-content strong {
  color: #2bfdff;
  font-weight: normal;
}

.testimonial-bg-shapes .container {
  position: relative;
  z-index: 1;
}

.testimonial-bg-shapes .bg-map {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.testimonial-bg-shapes .bg-shape-1 {
  position: absolute;
  left: 100px;
  top: -50px;
}

.testimonial-bg-shapes .bg-shape-2 {
  position: absolute;
  right: 150px;
  top: 50px;
}

.testimonial-bg-shapes .bg-shape-3 {
  position: absolute;
  right: 50px;
  top: 200px;
}

.testimonial-bg-shapes .bg-shape-4 {
  position: absolute;
  left: 100px;
  bottom: 200px;
}

.testimonial-bg-shapes .bg-shape-5 {
  position: absolute;
  right: 200px;
  bottom: -50px;
}

/* /testimonial */
/* footer */
.footer-section {
  padding-top: 200px;
}

.section-on-footer {
  margin-bottom: -250px;
}

.shadow-down {
  position: relative;
}

.shadow-down::before {
  position: absolute;
  content: "";
  box-shadow: 0px 0px 80.75px 14.25px rgba(224, 241, 255, 0.34);
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}

/* /footer */
.card-lg {
  flex-direction: row-reverse;
  align-items: center;
}

@media (max-width: 991px) {
  .card-lg {
    flex-direction: column;
  }
}

blockquote {
  display: inline-block;
  padding: 10px 20px;
  background: #eaeaea;
  border-left: 2px solid #41228e;
  font-style: italic;
  font-size: 22px;
}

.content * {
  margin-bottom: 20px;
}

.content strong {
  font-family: "Playfair Display", serif;
  font-size: 22px;
  font-weight: normal;
  color: #000;
  display: inherit;
  line-height: 1.5;
}

.page-title-alt {
  padding: 70px 0 60px;
}

.border-thick {
  border: 10px solid;
}

.drag-lg-top {
  margin-top: -230px;
}

@media (max-width: 991px) {
  .drag-lg-top {
    margin-top: 0;
  }
}

.page-title-alt .container {
  position: relative;
  z-index: 1;
}

.page-title-alt .bg-shape-1 {
  position: absolute;
  left: 0;
  top: 0;
}

.page-title-alt .bg-shape-2 {
  position: absolute;
  left: 70px;
  top: 100px;
}

.page-title-alt .bg-shape-3 {
  position: absolute;
  left: 30%;
  top: 50px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.page-title-alt .bg-shape-4 {
  position: absolute;
  left: 100px;
  bottom: 100px;
}

.page-title-alt .bg-shape-5 {
  position: absolute;
  left: 40%;
  bottom: -25px;
}

.page-title-alt .bg-shape-6 {
  position: absolute;
  bottom: 100px;
  right: -100px;
}

.page-title {
  padding: 250px 0 150px;
}

.page-title .container {
  position: relative;
  z-index: 1;
}

.page-title .bg-shape-1 {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.page-title .bg-shape-2 {
  position: absolute;
  left: -20px;
  top: -10px;
}

.page-title .bg-shape-3 {
  position: absolute;
  left: 10%;
  top: 100px;
}

.page-title .bg-shape-4 {
  position: absolute;
  left: 50%;
  top: -20px;
}

.page-title .bg-shape-5 {
  position: absolute;
  left: 90px;
  bottom: -50px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.page-title .bg-shape-6 {
  position: absolute;
  right: 20%;
  bottom: -20px;
}

.page-title .bg-shape-7 {
  position: absolute;
  right: -220px;
  bottom: -100px;
}

.filter-controls li {
  cursor: pointer;
}

.filter-controls li.active {
  font-weight: bold;
}

/*# sourceMappingURL=maps/style.css.map */


.about-info {
  list-style: none;
  padding: 0;
  margin-top: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.about-info li {
  display: flex;
  justify-content: space-between;
  padding: 12px 15px;
  border-bottom: 1px solid #ddd;
  font-size: 16px;
  color: #333;
  background-color: #fff;
  border-radius: 6px;
  margin-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.about-info li span:first-child {
  font-weight: 600;
  width: 40%;
  color: #444;
}

.about-info li span:last-child {
  text-align: left;
  width: 60%;
  color: #666;
}

/* Optional: Responsive tweak for small screens */
@media (max-width: 576px) {
  .about-info li {
    flex-direction: column;
    align-items: flex-start;
  }

  .about-info li span {
    width: 100% !important;
  }

  .about-info li span:first-child {
    margin-bottom: 4px;
  }
}

/* .home-icon{
  text-align: center;
} */
.home-title {
  margin-bottom: 1rem;
}

/* .intro{
  font-size: 30px;
} */
.intro span {
  font-size: 20px;
}

.wrapper .button {
  display: inline-block;
  height: 45px;
  width: 45px;
  /* float: left; */
  text-decoration: none;
  margin: 0 5px;
  overflow: hidden;
  background: white;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all 0.3s ease-out;
}

.wrapper .button:hover {
  width: 170px;
}

.wrapper .button .icon {
  display: inline-block;
  height: 45px;
  width: 45px;
  color: black;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 30px;
  transition: all 0.3s ease-out;
}

.wrapper .button:nth-child(1):hover .icon {
  background: #4267B2;
}

.wrapper .button:nth-child(2):hover .icon {
  background: #1DA1F2;
}

.wrapper .button:nth-child(3):hover .icon {
  background: #E1306C;
}

/* .wrapper .button:nth-child(4):hover .icon {
    background: #333;
  } */
.wrapper .button:nth-child(5):hover .icon {
  background: lightgreen;
}

.wrapper .button .icon i {
  font-size: 25px;
  line-height: 30px;
  transition: all 0.3s ease-out;
}

.wrapper .button:hover .icon i {
  color: #fff;
}

.wrapper .button span {
  font-size: 20px;
  font-weight: 500;
  line-height: 56px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}

.wrapper .button:nth-child(1) span {
  color: #4267B2;
}

.wrapper .button:nth-child(2) span {
  color: #1DA1F2;
}

.wrapper .button:nth-child(3) span {
  color: #E1306C;
}

.wrapper .button:nth-child(4) span {
  color: #333;
}

.wrapper .button:nth-child(5) span {
  color: lightgreen;
}




.card {
  width: 320px;
  height: 320px;
  margin: auto;
  perspective: 1000px;
  cursor: pointer;
  background-color: white;

}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  background-color: #000;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 0.5rem;
}

/* .card-front {
  background: white; */
/* border: 1px solid #e5e7eb;
} */

.card-back {
  /* background: #8b5cf6; */
  /* color: white; */
  transform: rotateY(180deg);
}

/* percentage calculation*/


.container .card1 {
  position: relative;
  width: 300pxz;
  /* height: 300px; */
  background: linear-gradient(0deg, #1b1b1b, #222, #1b1b1b);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  border-radius: 4px;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
  /* color: #000; */
}

.card2 {
  position: relative;
  width: 300pxz;
  /* height: 300px; */
  background: linear-gradient(0deg, #1b1b1b, #222, #1b1b1b);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  border-radius: 4px;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
  /* color: #000; */
}

.card3 {
  position: relative;
  width: 300pxz;
  /* height: 300px; */
  background: linear-gradient(0deg, #1b1b1b, #222, #1b1b1b);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  border-radius: 4px;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
  /* color: #000; */
}

.card4 {
  position: relative;
  width: 300pxz;
  /* height: 300px; */
  background: linear-gradient(0deg, #1b1b1b, #222, #1b1b1b);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  border-radius: 4px;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
  /* color: #000; */
}

.container .card1:hover {
  transform: translateY(-25px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, .5);
}

.container .card2:hover {
  transform: translateY(-25px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, .5);
}

.container .card3:hover {
  transform: translateY(-25px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, .5);
}

.container .card4:hover {
  transform: translateY(-25px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, .5);
}

.container .card1:before {
  content: '';
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, .03);
  pointer-events: none;
  z-index: 1;
}

.container .card2:before {
  content: '';
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, .03);
  pointer-events: none;
  z-index: 1;
}

.container .card3:before {
  content: '';
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, .03);
  pointer-events: none;
  z-index: 1;
}


.container .card4:before {
  content: '';
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, .03);
  pointer-events: none;
  z-index: 1;
}

.percent {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: inset 0 0 50px #000;
  background: #222;
  z-index: 1000;
}

.percent .num {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.percent .num h2 {
  color: #777;
  font-weight: 700;
  font-size: 40px;
  transition: 0.5s;
}

.card1:hover .percent .num h2 {
  color: #fff;
  font-size: 60px;
}

.card2:hover .percent .num h2 {
  color: #fff;
  font-size: 60px;
}

.card3:hover .percent .num h2 {
  color: #fff;
  font-size: 60px;
}

.card4:hover .percent .num h2 {
  color: #fff;
  font-size: 60px;
}

.percent .num h2 span {
  color: #777;
  font-size: 24px;
  transition: 0.5s;
}

.card1:hover .percent .num h2 span {
  color: #fff;
}

.card2:hover .percent .num h2 span {
  color: #fff;
}

.card3:hover .percent .num h2 span {
  color: #fff;
}

.card4:hover .percent .num h2 span {
  color: #fff;
}

.text {
  position: relative;
  color: #777;
  margin-top: 20px;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.5s;
}

.card1:hover .text {
  color: #fff;
}

.card2:hover .text {
  color: #fff;
}

.card3:hover .text {
  color: #fff;
}

.card4:hover .text {
  color: #fff;
}

svg {
  position: relative;
  width: 150px;
  height: 150px;
  z-index: 1000;
}

svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: #191919;
  stroke-width: 10;
  stroke-linecap: round;
  transform: translate(5px, 5px);
}

svg circle:nth-child(2) {
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}

.card1:nth-child(1) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 90) / 100);
  stroke: #00cccc;
}

.card2:nth-child(1) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 85) / 100);
  stroke: #00cccc;
}

.card3:nth-child(1) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 80) / 100);
  stroke: #00cccc;
}

.card4:nth-child(1) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 70) / 100);
  stroke: #00cccc;
}


.box1 {

  /* border-radius: 5px;
  height: 40px;
  margin: 50px auto;
  width: 80px;
   */
  .wrap:hover {
    transform: scale(1);

  }
}

.box2 {
  /* background: #2b3f53; */
  transition: all 1.3s 0.2s;
}

.project-hov {
  transition: 0.5s;
}

.project-hov:hover {
  transform: translateY(-25px);

}


.card {
  width: 320px;
  height: 320px;
  margin: auto;
  perspective: 1000px;
  cursor: pointer;
  background-color: white;


}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  background-color: #000;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 0.5rem;

}

/* .card-front {
  background: white; */
/* border: 1px solid #e5e7eb;
} */

.card-back {
  /* background: #8b5cf6; */
  /* color: white; */
  transform: rotateY(180deg);
}

/* percentage calculation*/


.container .card1 {
  position: relative;
  width: 300pxz;
  /* height: 300px; */
  background: linear-gradient(0deg, #1b1b1b, #222, #1b1b1b);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  border-radius: 4px;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
  /* color: #000; */
}

.card2 {
  position: relative;
  width: 300pxz;
  /* height: 300px; */
  background: linear-gradient(0deg, #1b1b1b, #222, #1b1b1b);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  border-radius: 4px;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
  /* color: #000; */
}

.card3 {
  position: relative;
  width: 300pxz;
  /* height: 300px; */
  background: linear-gradient(0deg, #1b1b1b, #222, #1b1b1b);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  border-radius: 4px;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
  /* color: #000; */
}

.card4 {
  position: relative;
  width: 300pxz;
  /* height: 300px; */
  background: linear-gradient(0deg, #1b1b1b, #222, #1b1b1b);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  border-radius: 4px;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
  /* color: #000; */
}

.container .card1:hover {
  transform: translateY(-25px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, .5);
}

.container .card2:hover {
  transform: translateY(-25px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, .5);
}

.container .card3:hover {
  transform: translateY(-25px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, .5);
}

.container .card4:hover {
  transform: translateY(-25px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, .5);
}

.container .card1:before {
  content: '';
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, .03);
  pointer-events: none;
  z-index: 1;
}

.container .card2:before {
  content: '';
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, .03);
  pointer-events: none;
  z-index: 1;
}

.container .card3:before {
  content: '';
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, .03);
  pointer-events: none;
  z-index: 1;
}


.container .card4:before {
  content: '';
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, .03);
  pointer-events: none;
  z-index: 1;
}

.percent {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: inset 0 0 50px #000;
  background: #222;
  z-index: 1000;
}

.percent .num {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.percent .num h2 {
  color: #777;
  font-weight: 700;
  font-size: 40px;
  transition: 0.5s;
}

.card1:hover .percent .num h2 {
  color: #fff;
  font-size: 60px;
}

.card2:hover .percent .num h2 {
  color: #fff;
  font-size: 60px;
}

.card3:hover .percent .num h2 {
  color: #fff;
  font-size: 60px;
}

.card4:hover .percent .num h2 {
  color: #fff;
  font-size: 60px;
}

.percent .num h2 span {
  color: #777;
  font-size: 24px;
  transition: 0.5s;
}

.card1:hover .percent .num h2 span {
  color: #fff;
}

.card2:hover .percent .num h2 span {
  color: #fff;
}

.card3:hover .percent .num h2 span {
  color: #fff;
}

.card4:hover .percent .num h2 span {
  color: #fff;
}

.text {
  position: relative;
  color: #777;
  margin-top: 20px;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.5s;
}

.card1:hover .text {
  color: #fff;
}

.card2:hover .text {
  color: #fff;
}

.card3:hover .text {
  color: #fff;
}

.card4:hover .text {
  color: #fff;
}

svg {
  position: relative;
  width: 150px;
  height: 150px;
  z-index: 1000;
}

svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: #191919;
  stroke-width: 10;
  stroke-linecap: round;
  transform: translate(5px, 5px);
}

svg circle:nth-child(2) {
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}

.card1:nth-child(1) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 90) / 100);
  stroke: #00cccc;
}

.card2:nth-child(1) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 85) / 100);
  stroke: #00cccc;
}

.card3:nth-child(1) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 80) / 100);
  stroke: #00cccc;
}

.card4:nth-child(1) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 70) / 100);
  stroke: #00cccc;
}


.box1 {

  /* border-radius: 5px;
  height: 40px;
  margin: 50px auto;
  width: 80px;
   */
  .wrap:hover {
    transform: scale(1);

  }
}

.box2 {
  /* background: #2b3f53; */
  transition: all 1.3s 0.2s;
}

.project-hov {
  transition: 0.5s;
}

.project-hov:hover {
  transform: translateY(-25px);

}





.ftco-section {
  padding: 7em 0;
  position: relative;
}

@media (max-width: 767.98px) {
  .ftco-section {
    padding: 6em 0;
  }
}

.heading-section h2 {
  font-size: 40px;
  font-weight: 600;
}

.heading-section h2 span {
  font-weight: 400;
}

@media (max-width: 767.98px) {
  .heading-section h2 {
    font-size: 28px;
  }
}

.heading-section.heading-section-white .subheading {
  color: rgba(255, 255, 255, 0.9) !important;
}

.heading-section.heading-section-white h2 {
  color: #fff;
}

.heading-section.heading-section-white p {
  color: rgba(255, 255, 255, 0.9);
}




@keyframes progress {
  0% {
    --percentage: 0;
  }

  100% {
    --percentage: var(--value);
  }
}

@property --percentage {
  syntax: '<number>';
  inherits: true;
  initial-value: 0;
}

[role="progressbar"] {
  --percentage: var(--value);
  --primary: black;
  --secondary: #adf;
  --size: 65px;
  animation: progress 2s 0.5s forwards;
  width: var(--size);
  aspect-ratio: 1;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  display: grid;
  place-items: center;
}

[role="progressbar"]::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: conic-gradient(var(--primary) calc(var(--percentage) * 1%), var(--secondary) 0);
  mask: radial-gradient(white 55%, transparent 0);
  mask-mode: alpha;
  -webkit-mask: radial-gradient(#0000 55%, #000 0);
  -webkit-mask-mode: alpha;
}

[role="progressbar"]::after {
  counter-reset: percentage var(--value);
  content: counter(percentage) '%';
  font-family: Helvetica, Arial, sans-serif;
  font-size: calc(var(--size) / 5);
  color: var(--primary);
}

/* demo */


/* Modal Overlay */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* Modal Content Box */
.modal-content {
  background-color: #fff;
  color: #000;
  border-radius: 12px;
  max-width: 800px;
  width: 100%;
  max-height: 80vh;
  overflow-y: auto;
  padding: 20px;
  text-align: center;
  position: relative;
  margin-top: 90px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 28px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
}

.cert-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.cert-grid img {
  width: 300px;
  border-radius: 8px;
  border: 2px solid #ccc;
}

@media (max-width: 600px) {
  .cert-grid {
    flex-direction: column;
  }

  .cert-grid img {
    width: 90%;
  }
}

/***/


.card0 {
  perspective: 1000px;
  margin-bottom: 20px;

}

.card-inner0 {
  position: relative;
  width: 100%;
  height: 120px;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card0:hover .card-inner0 {
  transform: rotateY(180deg);
}

.card-front0,
.card-back0 {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #1e1e1e; */
  border-radius: 10px;
  padding: 10px;
}

.card-front0 img {
  max-width: 100px;
  max-height: 100px;
}

.card-back0 {
  transform: rotateY(180deg);
  background-color: black;
}

@media (max-width: 768px) {
  .row-cols-3 {
    row-gap: 20px;
  }

  .card-front0 img {
    max-width: 90px;
    max-height: 90px;
  }
}


.iconss {
  display: flex;

}

.icon {
  font-size: 40px;
  color: #00fff2;
  margin: 13px;
}

.social-container {
  display: flex;
  /* gap: 20px; */
}

.icon {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #1f2937;
  color: #00fff2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  transition: all 0.4s ease;
  box-shadow: 0 0 10px #00fff2;
  position: relative;
  cursor: pointer;
}

.icon:hover {
  transform: scale(1.15) translateY(-5px);
  box-shadow: 0 0 15px #00fff2, 0 0 30px #00fff2;
}

/* Optional bounce animation on hover */
.icon:hover::after {
  content: '';
  position: absolute;
  bottom: -5px;
  width: 10px;
  height: 10px;
  background: #00fff2;
  border-radius: 50%;
  animation: bounce 0.6s ease;
}

@keyframes bounce {
  0% {
    transform: scale(0.2);
    opacity: 0.5;
  }

  50% {
    transform: scale(1.2);
    opacity: 1;
  }

  100% {
    transform: scale(0.6);
    opacity: 0;
  }
}



.cont {
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.slider {
  position: relative;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  animation: rotate 30s linear infinite;
}

.slider.paused {
  animation-play-state: paused;
}

@keyframes rotate {
  0% {
    transform: perspective(1000px) rotateY(0deg);
  }

  100% {
    transform: perspective(1000px) rotateY(360deg);
  }
}

.slider span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i) * 60deg)) translateZ(350px);
}

.slider span img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
  transition: 0.5s ease;
  z-index: 1;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

/* Hover effect to move image up */
.slider span:hover img {
  transform: translateY(-15px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
}

/* View Details Button */
.view-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%) scale(0);
  padding: 6px 12px;
  background-color: #00e6e6;
  color: #000;
  border: none;
  border-radius: 5px;
  font-size: 0.8rem;
  cursor: pointer;
  opacity: 0;
  transition: all 0.4s ease;
  z-index: 2;
}

.slider span:hover .view-btn {
  transform: translateX(-50%) scale(1);
  opacity: 1;
}

.view-btn:hover {
  background-color: #00cccc;
  color: #fff;
}


.body {
  font-family: "Lexend", sans-serif;
  line-height: 1.5;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #393232;
  padding: 2rem;
  background-color: #f0f0f0;
}

.card-container-i {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 2rem;
  width: 100%;
  max-width: 1000px;
}

.card-i {
  background-color: #000;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 20px 50px 0 rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  overflow: hidden;
  padding: 1.25rem;
  position: relative;
  transition: 0.15s ease-in;
}

.card-i:hover,
.card-i:focus-within {
  box-shadow: 0 0 0 2px #16C79A, 0 10px 60px 0 rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
}

.card-image-i {
  border-radius: 10px;
  overflow: hidden;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-image-i img {
  width: 100%;
  height: auto;
  object-fit: contain;
  transition: transform 0.5s ease;
}

.card-i:hover .card-image-i img {
  transform: scale(1.05);
}

.card-header-i {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-header-i a {
  font-weight: 600;
  font-size: 1.375rem;
  line-height: 1.25;
  padding-right: 1rem;
  text-decoration: none;
  color: #fff;
  position: relative;
}

.icon-button-i {
  border: 0;
  background-color: #fff;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  font-size: 1.25rem;
  transition: 0.25s ease;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
  color: #565656;
}

.icon-button-i:hover,
.icon-button-i:focus {
  background-color: #EC4646;
  color: #FFF;
}

.card-footer-i {
  margin-top: 1.25rem;
  border-top: 1px solid #ddd;
  padding-top: 1.25rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  color: #ccc;
}

.card-meta-i {
  display: flex;
  align-items: center;
  color: #ccc;
}

.card-meta-i:first-child:after {
  display: block;
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: currentcolor;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}